img {
    height: 70vh;
}

.my-carousel {
    position: relative;
    max-width: 70%;
    margin: auto;
    padding-top: 5%;
    padding-bottom: 5%;
}



.carousel-image {
    width: 50%;
    max-height: 400px;
}

.my-carousel .carousel-indicators button {
    border-radius: 50%;
    height: 10px;
    width: 10px;
    border-top: unset; 
    border-bottom: unset; 
    border-left-width: 0; 
    border-right-width: 0; 
    border: 1px solid transparent; 
}

.my-carousel .carousel-indicators li { 
    border-top: unset; 
    width: 10px; 
    border-bottom: unset; 
    border: 1px solid; 
    border-left-width: 0; 
    border-right-width: 0; 
    border-radius: 10px; 
    height: 10px; 
    width: 10px;
}  
.my-carousel .carousel-indicators .active { 
    position: relative;
    top: 100%;
    transform: translateY(-15%);
    border-top: 0; 
    border-bottom: unset; 
    border: 1px solid transparent; 
    border-left-width: 0; 
    border-right-width: 0; 
    border-radius: 15px; 
    height: 15px; 
    width: 15px;
    background-color: #e3f2fd;
}

.my-carousel .carousel-control-next-icon, .my-carousel .carousel-control-prev-icon {
    position: absolute;
    width: 200px;
    height: 200px;
    padding: 10px;
}


#data {
    margin-left: 20rem;
    margin-right: 20rem;
    border-radius: 7px;
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
}



#data h1, #data h2 {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
}

#testimonials {
    margin: 5rem 15rem;
    border-radius: 7px;
    background-color: #fff;
}

#testimonials h1{
    margin-left: 0 !important;
    padding: 2rem;
    width: 20rem;
    text-align: center;
}



main {
    background-color: #fafafa;
    margin-bottom: 0;
    overflow: hidden;
}